<div id="wphead">
	<div id="wphead-info">
		<div id="user_info">
			<div class="hide-if-no-js"><p>Welcome <strong><?php echo $this->Session->read('Auth.User.username');?></strong></p>
			</div>
		</div>
	</div>
</div>