<?php
$aDisplayTopicsReference = $this->Session->read('aDisplayTopicsReference');
?>
<div class="add_another_reference_<?php echo $iterator;?>">
<?php
	if(!empty($aDisplayTopicsReference)){
?><select name="data[AssessmentsReference][id][<?php echo $iterator;?>][]">
<?php
	foreach( $aDisplayTopicsReference as $referenceMaterials ){
		echo '<option value="'.$referenceMaterials['id'].'">'.$this->Text->truncate($referenceMaterials['value'],'50',array('ending' => '...','html' => true)).'</option>';
	}				
?></select><?php }?><a style="cursor:pointer;" class="add_reference_<?php echo $iterator;?>">Add another reference</a></div>