<div class="topic_body_content">
	<table class="form-table" style="width:810px;text-align:center;">
		<tr class="form-field form-required" style="width:100%;">
			<th width="30%"><label><strong>Add Topic <?php echo $this->Session->read('Module.display_order');?>.<?php echo $iterator;?></strong> (required)</label></th>
			<td width="50%"><input type="text" autocomplete="off" name="data[Topic][name][]" width="400px;" /></td>
			<td width="20%"><a class="topic_trigger" style="cursor:pointer;">Add another Topic.</a></td>
		</tr>
	</table>
	<br />
</div>