<<?php echo $errorController;?> xmlns:xsi="<?php echo Configure::read('xmlns:xsi');?>" xmlns="<?php echo Configure::read('xmlns');?>" TimeStamp="<?php echo date("c");?>"><Errors><Error ShortText="<?php echo $errorMessage;?>" Code="<?php echo $errorCode;?>"><?php echo $errorMessage;?></Error></Errors></<?php echo $errorController;?>>
