<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
<head>
<title><?php echo $errorCode;?></title>
</head>
<body>
<h1><?php echo $errorCode;?></h1>
<p><?php echo $errorMessage;?></p>
</body>
</html>
