<?php echo sprintf(__('Hello %s', true), $user['User']['name']); ?>,<br/>

<?php
if( $downloadTypeId == Configure::read('adminRoleId') ){
?>
Please visit this link to download the Over-The-Air <a href="itms-services://?action=download-manifest&url=<?php echo Configure::read('baseUri').DS.'over-the-air/manifest.plist';?>">Install App</a>
<?php
}else{
?>
Please visit this link to download the Over-The-Air <a href="<?php echo Configure::read('baseUri').DS.'over-the-air/otawebservices/v1.0/OTA_DownloadModuleFileRQ?src='.$source_file;?>&mobileapp=true"><?php echo (Configure::read('baseUri').DS.'over-the-air/otawebservices/v1.0/OTA_DownloadModuleFileRQ?src='.$source_file);?>&mobileapp=true</a>
<?php
}
?>

