<OTA_AuthorizationRQ xmlns:xsi="<?php echo Configure::read('xmlns:xsi');?>" xmlns="<?php echo Configure::read('xmlns');?>" TimeStamp="<?php echo date("c");?>" xsi:schemaLocation="">
  <Authentication>
    <username>xyz</username>
    <password>we234ewssf1sasd3434sdfsd3sdsd3sssa2a3</password>
  </Authentication>
</OTA_AuthorizationRQ>