<OTA_GetLatestManifestRQ xmlns:xsi="<?php echo Configure::read('xmlns:xsi');?>" xmlns="<?php echo Configure::read('xmlns');?>" TimeStamp="<?php echo date("c");?>" xsi:schemaLocation="">
  <Authentication>
    <username>xyz</username>
    <password>we234ewssf1sasd3434sdfsd3sdsd3sssa2a3</password>
  </Authentication>
  <Manifest VersionNo="233" LastUpdate="2010-12-29T11:48:02+12:25" />
</OTA_GetLatestManifestRQ>
