<OTA_DownloadModuleFilesRQ xmlns:xsi="<?php echo Configure::read('xmlns:xsi');?>" xmlns="<?php echo Configure::read('xmlns');?>" TimeStamp="<?php echo date("c");?>" xsi:schemaLocation="">
  	<Authentication>
    	<username>xyz</username>
    	<password>we234ewssf1sasd3434sdfsd3sdsd3sssa2a3</password>
  	</Authentication>
  	<Documents>
		<Document UniqueIdentifier="DocumentId1" Title="document title1" author="Administrator">
			<FileName MediaTypeId="4">g367data2a3.gzip</FileName>
		</Document>
		<Document UniqueIdentifier="DocumentId2" Title="Hard Drives" author="Administrator">
			<FileName MediaTypeId="4">mn75f36kl.gzip</FileName>
		</Document>
		<Document UniqueIdentifier="DocumentId69" Title="document title1" author="Administrator">
			<FileName MediaTypeId="5">pytdata2a3.gzip</FileName>
		</Document>
	</Documents>
</OTA_DownloadModuleFilesRQ>