<OTA_GetFullManifestRQ xmlns:xsi="<?php echo Configure::read('xmlns:xsi');?>" xmlns="<?php echo Configure::read('xmlns');?>" TimeStamp="<?php echo date("c");?>" xsi:schemaLocation="">
  	<Authentication>
    	<username>xyz</username>
    	<password>we234ewssf1sasd3434sdfsd3sdsd3sssa2a3</password>
  	</Authentication>
  	<POS><Source><Requestor Id="xyz" Instance="2007-05-26T04:30:00+12:00"/></Source></POS>
</OTA_GetFullManifestRQ>